body {
	background: #837400;
	color: #333;
	padding: 50px;
}

#game {
	position: relative;
	width: 768px;
	height: 440px;
	overflow: hidden;
}

#game, footer {
	width: 768px;
	margin: 0 auto;
}

.scene {
	position: absolute;
	width: 100%;
	height: 100%;
}

#menu-scene {
	background: #ccc url(../images/menu_bg.jpg);
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align: center;
	
	display: -moz-box;
	-moz-box-pack:center;
	-moz-box-align: center;
	
	display: box;
	box-pack:center;
	box-align: center;
}

/* Menu Scene Elements */
a[href='#game'] {
	width: 146px;
	height: 78px;
	background: url(../images/play_button.png);
	overflow: hidden;
	display: block;	
}

a[href='#game']:hover {
	background-position: -146px;
}

a[href='#game']:active {
	background-position: -292px;
}

a[href='#game'] span {
	display: block;
	margin-top: -999px;
}
